<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |p| %>

    <p>
      <%= p.label :user %><br>
      <%= p.text_field :user %>
    </p>
    <p>
      <%= p.label :body %><br>
      <%= p.text_area :body %>
    </p>
    <p>
      <%= p.submit %>
    </p>
<% end %>